#adminDataList {
    margin-top: 10px;
}

#adminDataList li{
    margin: 0 0 3px 0;
}
.userSessionsDiv{
    display: inline-block;
}

#adminUsersInfoTable{
    width: 100%;
    border: 4px double black;
    border-collapse: collapse;
}

#adminUsersInfoTable thead{
 background-color: #1b6d85;
    color: white;
    border: 1px solid black; /* Граница вокруг ячеек */
}

#adminUsersInfoTable td{
    padding-left: 1em;
    border: 1px solid black; /* Граница вокруг ячеек */
}

#activeSessionsLogLabel{
    color: #009c2d;
}
#maxActiveSessionsLogLabel{
    color: #9c0000;
}