.editModalBTN{
    width: 50%;
}

.modal-content{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#paymentDescription,
#newPaymentDescription{
    resize: none;
}

#editModalContent ,
#registerModalContent,
#monthLimitInfoModalContent ,
#newPaymentModalContent,
#dayChangeModalContent,
#dangerPopUpModalContent,
#logInModalContent,
#passwordRecoverModalContent,
#editAccountModalContent,
#chartModalContent{
    background-image: url("../fonts/modalIMG.jpg");
}

.currLimitValue::-webkit-inner-spin-button,
.editPaymentAmount::-webkit-outer-spin-button,
#editPaymentAmount::-webkit-inner-spin-button,
#newPaymentAmount::-webkit-outer-spin-button,
#newPaymentAmount::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.registerModalTitle,
.editModalTitle,
.limitInfoModalTitle,
.logInModalTitle,
.passwordRecoverModalTitle,
.editAccountModalTitle
{
    color: white;
}


.logInModalRef{
    color: #29c0ff;
}

#dangerPopUpModalContent >  .modal-header,
#dangerPopUpModalContent >  .modal-footer{
    background-color: rgba(221, 0, 21, 0.62);
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.LimitSubmit{
    background-color: #f5b302;
}

#chartContent{
    margin-left: auto ;
    margin-right: auto ;
}