
.rwd-table {
    max-width: 1200px;
    background-color: rgba(123, 123, 123, 0.9);
    color: #fff;
    min-width: 100px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    overflow: hidden;
}
.rwd-table tr:not(:last-of-type){
border-bottom: 1px solid #aaacb7;
}

.rwd-table th {
    display: none;
}
.rwd-table td {
    display: block;
}
.rwd-table td:first-child {
    padding-top: .5em;
}
.rwd-table td:last-child {
    padding-bottom: .5em;
}
.rwd-table td:before {
    content: attr(data-th) "";
    font-weight: bold;
    width: 6.5em;

    display: inline-block;
}
.rwd-table th, .rwd-table td {
    text-align: left;
    margin: .5em 1em;   /*now disable*/
}
@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }

    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th, .rwd-table td:before {
    color: rgba(246, 255, 69, 0.52);
}

.editPaymentBTN{
    color: #f5b302;
    width: 60px;
    height: 30px;
}

.deletePaymentBTN{
    color: #f5000b;
    width: 60px;
    height: 30px;
}

.confirmDelete{
    color: #6df509;
    width: 30px;
    height: 30px;
}
.refuseDelete{
    color: black;
    width: 30px;
    height: 30px;
}
.dpBTN{
    background-color: rgba(107, 99, 99, 0.5);
    border:solid 1px black;
    font-size: 1.5em;
}

#payTable
{
margin: 0 auto !important;
float: none !important;
}

#payTable {
border:none;
border-collapse: collapse;
}

.textTableData {
   white-space: normal;
    word-break: break-all;
    max-width:15em;
}