<div id="logInNavBarBTN">
    <button type="button" class="navbar-toggle collapse in" data-toggle="modal"
            data-target="#logInModal">
        <i class="fa fa-sign-in"></i>
        LogIn
    </button>
</div>

<div id="standardSideMenuBTN">
    <button type="button" class="navbar-toggle collapse in sidebarBTN" data-toggle="collapse" id="menu-toggle-2">
        <span class="fa fa-exchange" aria-hidden="true"></span>
    </button>
</div>


<div id="collapseSideMenuBTN">
    <button type="button" class="navbar-toggle collapsed sidebarBTN" data-toggle="collapse" id="menu-toggle">
        <span class="fa fa-exchange" aria-hidden="true"></span>
    </button>
</div>

<div id="standardAdminLogOutBTN">
    <button type="button" class="navbar-toggle collapse in adminLogoutBTN">
        <i class="fa fa-sign-out" aria-hidden="true"></i>LogOut
    </button>
</div>


<div id="collapseAdminLogOutBTN">
    <button type="button" class="navbar-toggle collapsed adminLogoutBTN">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
</div>

<div id="collapseLogInButton">
    <button type="button" data-toggle="modal" class="navbar-toggle collapsed"
            data-target="#logInModal">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
    </button>
</div>

<div id="replaceableButtonsConfirmDelete">
    <button type='button' class='dpBTN btn fa fa-check-square-o confirmDelete'></button>
    <button type='button' class='dpBTN  btn  fa fa-share refuseDelete'></button>
</div>

<div class="alert alert-danger" id="failLogin">
    <strong>Error ! </strong> ooops ! Fail To Login.
</div>

<div class="alert alert-danger" id="failToRegister">
    <strong>Error ! </strong> Fail To Register New User.
</div>

<div class="alert alert-danger" id="failToEditPayment">
    <strong>Error ! </strong> Fail To Edit Payment.
</div>

<div class="alert alert-success" id="successRegister">
    <strong>Success ! </strong> Registration Completed Successfully !!!
</div>


<div class='alert alert-danger' id="failToAddNewPayment">
    <strong>Error ! </strong> Fail To Add New Payment , Please Try Again !!!
</div>

<div class='alert alert-danger' id="failToDeletePayment">
    <strong>Error ! </strong> Fail To Delete Payment , Please Try Again !!!
</div>

<div class='alert alert-danger' id="failToRecoverUser">
    <strong>Error ! </strong> Fail To Recover User , Please Try Again !!!
</div>

<div class='alert alert-danger' id="failToLoadChart">
    <strong>Error ! </strong> Fail To Load Chart , Please Try Again !!!
</div>

<div id="centerPayTableContent">
    <table id="payTable" class="rwd-table">
    </table>
</div>

<div id="aboutAppContent">
    <iframe id="centerbox" src="https://ttcuxogaji.github.io/paymentsList/" scrolling="yes" style="width: 100%; height: 99%; padding: 0; margin: 0">
    </iframe>
</div>